<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo App</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <div class="main-card">
            <div class="todo-header">
                <h1>Todo</h1>
                <div>
                    <input type="checkbox" @change="toggleFilter" :checked="filtered" id="only-checked">
                    <label for="only-checked">Not Done</label>
                </div>
            </div>
            <form @submit.prevent="addTodo">
                <input type="text" required v-model="addTodoBody.text"/>
                <input type="submit" style="visibility: hidden;" />
                <button @click="modifyAdd">Add</button>
                <hr/>
            </form>
            <table class="todo-body">
                <tr v-for="todo in actualTodos">
                    <td>
                        <form @submit.prevent="editTodo" v-if="editingId==todo.id">
                            <input type="text" required v-model="editTodoBody.text" />
                            <input type="submit" style="visibility: hidden;" />
                        </form>

                        <span v-else>
                            <input type="checkbox" :id="todo.id" @change="handleChecked(todo)" :checked="todo.checked">
                            <label class="text-content" for="todo.id" :class="{'done': todo.checked, 'test': todo.checked}">{{todo.text}}</label>
                        </span>
                    </td>
                    <td class="edit-buttons">
                        <button @click="modifyEdit(todo)">Edit</button>
                        <button @click="deleteTodo(todo)">Delete</button>
                    </td>
                </tr>
            </table>
            <div class="navigation-buttons">
                <button class="nav-button" @click="() => getTodoAtPage(currentPage-1)" :disabled="prevButtonIsDisabled">
                    <img width="30" height="30" src="back_arrow_icon.svg" alt="Prev">
                </button>
                <button :class="[{'current-page': pageNum==currentPage}, 'page-num-button', 'nav-button']" v-for="pageNum in totalPagesAsList"  @click="() => getTodoAtPage(pageNum)">
                    {{pageNum}}
                </button>
                <button class="nav-button" @click="() => getTodoAtPage(currentPage+1)" :disabled="nextButtonIsDisabled">
                    <img width="30" height="30" src="forward_arrow_icon.svg" alt="Next">
                </button>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>