* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto Light", sans-serif, Serif;
}

#app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: darkslategray;
}

.main-card {
    width: min(500px, 80vw);
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.todo-header {
    display: flex;
    justify-content: space-between;
}

.todo-item {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
}

li {
    padding-left: 10px;
}

td {
    padding: 3px 0;
}

hr {
    margin:  5px 0;
}

button {
    cursor: pointer;
}

.done {
    text-decoration: line-through;
    opacity: 0.5;
}

.edit-buttons {
    text-align: end;
}

.text-content {
    overflow: hidden;
}

.navigation-buttons {
    align-self: center;
    display: flex;
}

.nav-button {
    background: transparent;
    border-style: none;
}

button.nav-button[disabled] {
    opacity: 0.5;
    cursor: auto;
}

.page-num-button {
    opacity: 0.5;
    margin: 0 5px;
}

.current-page {
    text-decoration: underline;
    opacity: 1;
}